.showsEventsDisplayPage{
    margin: 0;
    padding: 1.2vh 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: top;
    align-items: top;
}


@media (max-width: 760px) {
    .showsEventsDisplayPage {
        display: flex;
        justify-content: center;
        align-items: top;
    }
}