.searchBar{
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarForm{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff7a;
    border-radius: 4vh;
    border: none;
    margin: 0;
    padding: 0 1vh 0 3vh;
    transition: 0.3s ease-in
}

.searchBarForm:focus-within {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid greenyellow;
    transition: 0.3s ease-in-out;
}

.searchBarInput{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 80%;
    height: 100%;
}

::placeholder {
    color: white;
}

.searchBarIcon{
    height: 70%;
    aspect-ratio: 1/1;
    background: url(../../../public/img/searchIcon.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

@media (max-width: 760px) {
    .searchBar{
        width: 70vw;
    }
}